body {
  padding-top: 20px;
  padding-bottom: 20px;
}

#control-wrapper {
  .make-md-column(5);

  .caption {
    label { .text-hide; }
  }

  .source {
    label { .text-hide; }
  }

  .file-input {
    .form-group;
    margin-top: 20px;
  }

  .color-input {
    .make-row();
    .group {
      .make-sm-column(6);
    }
  }


}

#meme-wrapper {
  .make-md-column(7);

  #meme-window {
    color: black;
    background: #72CDF4;
    background-size: cover;
  }

  .meme {
    padding: 30px;
    width: 640px;
    height: 320px;
    border: 1px solid #ccc;
    

    .caption, .source {
    }
    .caption {
      font-family: @kievit;
      line-height: 1.25em;
      font-size: 32px;
      font-weight: bold;
      padding-bottom: .5em;
    }

    .source {
      font-family: @kievit;
      font-size: 16px;
    }
  }
}
